<body>
    <section style="background-color: #eee;">
       
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3"><%= students.name %></h5>
                  <p class="text-muted mb-1">Full Stack Developer</p>
                  <p class="text-muted mb-4">New Delhi, India</p>
                  
                </div>
              </div>
              
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.name %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Batch</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.batch %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Status</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.status %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">DSA Marks</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.dsaScore %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">WEB Marks</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.webScore %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">REACT Marks</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.reactScore %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Interview Company</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.interviewCompany %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Interview Date</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.interviewDate %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Result</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= students.result %></p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
      </section>
</body>